// Arquivo _variables.scss

:root {
  --primary-color: #182C61; // Cor principal
  --secondary-color: #44bd32; // Cor dos botões
  --secondary-hover: #4cd137; // Cor do hover do botão
  --text-color: #fff; // Cor do texto
  --background-color: #f5f6fa; // Cor de fundo
  --font-family: 'Roboto', sans-serif; // Fonte utilizada
  --border-radius: 12px; // Raio de borda padrão
  --transition-time: 0.3s; // Tempo de transição
}
